*
{
	margin: 0;
	padding: 0;
}

/*-------navigation bar--------*/

.span

{
	color:  pink!important;
	font-weight: 700;
	font-style: italic;
	font-size: 15px;
}

#nav-bar
{
 position: sticky;
 top: 0;
 z-index: 10;

}

.navbar-nav li
{
	padding: 0 10px;
}

.navbar-nav li a
{
	float: right;
	text-align: left;
}

#nav-bar ul li a:hover{
	color: #007bff!important;
}

.navbar 
{
	background: #fff; 
}

.navbar-toggler
{
	border: none!important;
}

.nav-link
{
	color: #555!important;
	font-weight: 600;
	font-size: 16px;
}



.picha
{
	width: 100%;
	width: 30%;
}

#colo
{
	background: rgb(219,226,226);
}

#colo a
{
   color: red ! important;
   font-weight: 800;
   font-size: 20px;
   font-family: "comic sans MS",cursive,sans-seriff;
}

#conta
{
	font-size: 23px;
	font-family: "comic sans MS",cursive,sans-seriff;
}